<header class="d-flex justify-content-center">
  <a class="btn btn-secondary mb-4 " role="button" routerLink="/">Go Back</a>
</header>
<div class="card">
    <div class="card-body">
        <header>
            <p *ngIf="invoiceDetail.invoiceId" class="invoice-id h3">#{{invoiceDetail.invoiceId}}</p>
            <p class="description">{{invoiceDetail.description}}</p>
        </header>

        <div class="row">
            <div class="col">
                <div class="invoice-date">
                    <p class="mb-0 fw-bold">Invoice Date</p>
                    <p>{{invoiceDetail.invoiceDate}}</p>
                </div>
        
                <div class="payment-due">
                    <p class="mb-0 fw-bold">Payment Due</p>
                    <p>{{invoiceDetail.paymentDue}}</p>
                </div>
            </div>
    
            <div class="col">
                <div class="bill-to">
                    <p class="mb-0 fw-bold">Bill To</p>
                    <p class="client-name mb-0">{{invoiceDetail.client.clientName}}</p>
                    <p>{{invoiceDetail.client.clientAddress}}</p>
                </div>
            </div>

            <div class="col">
              <button (click)="downloadReportPdf()" class="btn btn-outline-dark me-3">PDF</button>
              <button (click)="downloadReportExcel()" class="btn btn-outline-dark">Excel</button>
            </div>
        </div>

        <table class="table">
            <thead>
              <tr>
                
                <th scope="col">Item Name</th>
                <th scope="col">Quantity</th>
                <th scope="col">Price</th>
                <th scope="col">Total</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of invoiceDetail.items">
                
                <td>{{item.name}}</td>
                <td>{{item.quantity}}</td>
                <td>{{item.price}}</td>
                <td>${{item.quantity * item.price}}</td>
                
              </tr>
              
            </tbody>
          </table>

          
          <a class="btn btn-secondary mt-2 " [routerLink]="['/editinvoice', invoiceId]"  role="button">Edit Invoice</a>

    </div>
</div>