<form>
    <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" name="userName" class="form-control" id="username" [(ngModel)]="userName">
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" name="password" class="form-control" id="password" [(ngModel)]="password">
    </div>
    <button  type="button" class="btn btn-primary" (click)="login()">Login</button>
    
</form>
